{% extends 'SymbioOrangeGateAdminBundle:CRUD:base_list.html.twig' %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <a class="btn btn-success sonata-action-element" href="{{ admin.generateUrl('create', { siteId: currentSite.id }) }}">
                <i class="fa fa-plus"></i>&nbsp;
                {{ 'link_action_create'|trans({}, 'SymbioOrangeGateTranslationBundle') }}</a>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block navbar_title %}
    {{ 'tokens.list_site_label'|trans({}, 'SymbioOrangeGateTranslationBundle') }}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <strong class="text-info">{{ currentSite.name }}</strong> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for site in sites %}
                <li>
                    <a href="{{ admin.generateUrl('list', { 'site': site.id }) }}">
                        {{ site.name }}
                        {% if currentSite and site.id == currentSite.id %}
                            <span class="pull-right">
                                    <i class="fa fa-check"></i>
                                </span>
                        {% endif %}
                    </a>
                </li>
            {% endfor%}
        </ul>
    </div>
{% endblock %}